{% extends 'admin/master.html' %}   #为了保持一致，继承admin/master.html模板

{% block body %}

<h1> sql 的作用 </h1>
<p> sql 的参数 </p>
<textarea id="sql_1" style="width:1200px;height:200px;">生成的 sql</textarea>
<button onclick="copy(sql_1)"> 复制</button>

<h1> 1. 查询某个操作码一段日期内的触发次数 </h1>
<form action="" method="post" novalidate>
    <p> 开始日期 <input type="date" name="begin_date" class="form-control date-picker"/>
        结束日期 <input type="date" name="end_date" class="form-control date-picker"/>
        操作码 <input type="text" name="action_code"/>
    </p>

    <p><input type="submit" value="提交"/></p>

</form>
<script>
    var defaultDate = document.querySelectorAll('.date-picker');
    for (var i = 0; i < defaultDate.length; i++) {
        today = new Date();
        today.setTime(today.getTime() - 24 * 60 * 60 * 1000)
        defaultDate[i].valueAsDate = today;
    }
</script>
<textarea id="sql_2" style="width:1200px;height:200px;">生成的 sql</textarea>
<button onclick="copy(sql_2)"> 复制</button>

<h1> sql 的作用 </h1>
<p> sql 的参数 </p>
<textarea id="sql_3" style="width:1200px;height:200px;">生成的 sql</textarea>
<button onclick="copy(sql_2)"> 复制</button>


{% endblock %}
